<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthBaseURL</key>
	<string>https://mc-test.auth0.com</string>
	<key>grantType</key>
	<string>authorization_code</string>
	<key>authorizationCodePath</key>
	<string>/authorize</string>
	<key>accessTokenPath</key>
	<string>/oauth/token</string>
	<key>codeChallengeMethod</key>
	<string>S256</string>
	<key>clientId</key>
	<string>5pwh6BomUaRlQr8rPqorB2pbXssKxQxb</string>
	<key>responseType</key>
	<string>code</string>
	<key>scope</key>
	<string>openid profile offline_access</string>
	<key>audience</key>
	<string>https://mc-test.auth0.com/userinfo</string>
	<key>redirectUri</key>
	<string>om.works.Auth0PKCETest://mc-test.auth0.com/ios/om.works.Auth0PKCETest/callback</string>
</dict>
</plist>
