<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthBaseURL</key>
	<string>https://metaboliccompass.auth0.com</string>
	<key>grantType</key>
	<string>authorization_code</string>
	<key>authorizationCodePath</key>
	<string>/authorize</string>
	<key>accessTokenPath</key>
	<string>/oauth/token</string>
	<key>codeChallengeMethod</key>
	<string>S256</string>
	<key>clientId</key>
	<string>FIwBsUv2cxpj1xoX3sjIeOyzm0Lq2Rqk</string>
	<key>responseType</key>
	<string>code</string>
	<key>scope</key>
	<string>openid profile offline_access</string>
	<key>audience</key>
	<string>https://api-dev.metaboliccompass.com</string>
	<key>redirectUri</key>
	<string>edu.jhu.cs.damsl.MetabolicCompass.app://metaboliccompass.auth0.com/ios/edu.jhu.cs.damsl.MetabolicCompass.app/callback</string>
</dict>
</plist>
